@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Variáveis */
:root {
    --azul: #31A8DD;
    --azul2: #33A8DB;
    --azul-escuro: #1572B7;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #252525;
    --ff: "Raleway", sans-serif;
    --borda-azul: 1px solid var(--azul);
}
/* Estilos padrão */
* {
    margin: 0; padding: 0; border: 0;
    background-color: transparent;
    font-family: var(--ff);
    text-decoration: none;
}
body { background-color: var(--preto); }
p {
    color: var(--branco);
    font-weight: 300;
    font-size: 1em;
    text-align: center;
}
h2 {
    color: var(--azul2);
    font-weight: 700;
    font-size: 2.2em;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}
a { 
    color: var(--azul);
    font-weight: 700;
}
/* Hero */
.banner {
    background-image: url(../images/banner.png), linear-gradient(var(--preto) 0%, #33a9db32 60%, var(--preto) 100%);
    background-size: cover;
    padding: 50px;
    border-bottom: var(--borda-azul);
}
.banner-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
    .logo img {
        padding: 20px 10px;
        background-color: #00000040;
        border-radius: 50%;
}
    .banner-content h1 {
        font-weight: 900;
        background: -webkit-linear-gradient(-90deg, #33A8DB 0%, #1472B7 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-size: 2.5em;
}
    .banner-content button {
        cursor: pointer;
        padding: 1em 3em;
        font-weight: 900;
        color: var(--azul);
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 2px solid var(--azul);
}

#course-content, #professional-challenges {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 8em 0px 6em;
    border-bottom: var(--borda-azul);
}
    .modules-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
}
    .module {
        padding: 1em 4em;
        box-shadow: inset 0px 5px 10px #00000080;
        background-color: var(--cinza);
        border: var(--borda-azul);
        border-radius: 30px;
        color: var(--branco);
}
    .module span {
        color: var(--azul);
}

/* Segundo banner */
#transform-world {
    padding: 8em 14em;
    background-image: url(../images/woman-code.png);
    background-size: cover;
    background-position: center;
    border-bottom: var(--borda-azul);
}
#transform-world p {
    color: var(--branco);
    font-weight: 900;
    font-size: 2.8em;
    text-align: left;
    text-shadow: 3px 3px 0px var(--azul);
    text-transform: lowercase;
}

/* Rodapé */
footer {
    background-image: linear-gradient(var(--preto) 60%, #33a9db32 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 4em 0px 2em;
}
